@font-face {
  font-family: 'fontello';
  src: url(//test.mantra-dachau.com/wp-content/themes/cinnamon-restaurant/css/fonts/fontello/font/fontello.eot?40657606);
  src: url(//test.mantra-dachau.com/wp-content/themes/cinnamon-restaurant/css/fonts/fontello/font/fontello.eot?40657606#iefix) format('embedded-opentype'),
       url(//test.mantra-dachau.com/wp-content/themes/cinnamon-restaurant/css/fonts/fontello/font/fontello.woff?40657606) format('woff'),
       url(//test.mantra-dachau.com/wp-content/themes/cinnamon-restaurant/css/fonts/fontello/font/fontello.ttf?40657606) format('truetype'),
       url(//test.mantra-dachau.com/wp-content/themes/cinnamon-restaurant/css/fonts/fontello/font/fontello.svg?40657606#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url(//test.mantra-dachau.com/wp-content/themes/cinnamon-restaurant/css/fonts/fontello/font/fontello.svg?40657606#fontello) format('svg');
  }
}
*/
 
 [class^="fontello-icon-"]:before, [class*=" fontello-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fontello-icon-music:before { content: '\e800'; } /* '' */
.fontello-icon-search:before { content: '\e801'; } /* '' */
.fontello-icon-mail:before { content: '\e802'; } /* '' */
.fontello-icon-heart:before { content: '\e803'; } /* '' */
.fontello-icon-star:before { content: '\e804'; } /* '' */
.fontello-icon-user:before { content: '\e805'; } /* '' */
.fontello-icon-videocam:before { content: '\e806'; } /* '' */
.fontello-icon-camera:before { content: '\e807'; } /* '' */
.fontello-icon-photo:before { content: '\e808'; } /* '' */
.fontello-icon-attach:before { content: '\e809'; } /* '' */
.fontello-icon-lock:before { content: '\e80a'; } /* '' */
.fontello-icon-eye:before { content: '\e80b'; } /* '' */
.fontello-icon-tag:before { content: '\e80c'; } /* '' */
.fontello-icon-thumbs-up:before { content: '\e80d'; } /* '' */
.fontello-icon-pencil:before { content: '\e80e'; } /* '' */
.fontello-icon-comment:before { content: '\e80f'; } /* '' */
.fontello-icon-location:before { content: '\e810'; } /* '' */
.fontello-icon-cup:before { content: '\e811'; } /* '' */
.fontello-icon-trash:before { content: '\e812'; } /* '' */
.fontello-icon-doc:before { content: '\e813'; } /* '' */
.fontello-icon-note:before { content: '\e814'; } /* '' */
.fontello-icon-cog:before { content: '\e815'; } /* '' */
.fontello-icon-params:before { content: '\e816'; } /* '' */
.fontello-icon-calendar:before { content: '\e817'; } /* '' */
.fontello-icon-sound:before { content: '\e818'; } /* '' */
.fontello-icon-clock:before { content: '\e819'; } /* '' */
.fontello-icon-lightbulb:before { content: '\e81a'; } /* '' */
.fontello-icon-tv:before { content: '\e81b'; } /* '' */
.fontello-icon-desktop:before { content: '\e81c'; } /* '' */
.fontello-icon-mobile:before { content: '\e81d'; } /* '' */
.fontello-icon-cd:before { content: '\e81e'; } /* '' */
.fontello-icon-inbox:before { content: '\e81f'; } /* '' */
.fontello-icon-globe:before { content: '\e820'; } /* '' */
.fontello-icon-cloud:before { content: '\e821'; } /* '' */
.fontello-icon-paper-plane:before { content: '\e822'; } /* '' */
.fontello-icon-fire:before { content: '\e823'; } /* '' */
.fontello-icon-graduation-cap:before { content: '\e824'; } /* '' */
.fontello-icon-megaphone:before { content: '\e825'; } /* '' */
.fontello-icon-database:before { content: '\e826'; } /* '' */
.fontello-icon-key:before { content: '\e827'; } /* '' */
.fontello-icon-beaker:before { content: '\e828'; } /* '' */
.fontello-icon-truck:before { content: '\e829'; } /* '' */
.fontello-icon-money:before { content: '\e82a'; } /* '' */
.fontello-icon-food:before { content: '\e82b'; } /* '' */
.fontello-icon-shop:before { content: '\e82c'; } /* '' */
.fontello-icon-diamond:before { content: '\e82d'; } /* '' */
.fontello-icon-t-shirt:before { content: '\e82e'; } /* '' */
.fontello-icon-wallet:before { content: '\e82f'; } /* '' */