@font-face {
  font-family: 'WooCommerce';
  src: url(//test.mantra-dachau.com/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.eot);
  src: url(//test.mantra-dachau.com/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), 
      url(//test.mantra-dachau.com/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.woff) format("woff"), url(//test.mantra-dachau.com/wp-content/woocommerce/assets/fonts/WooCommerce.ttf) format("truetype"), 
      url(//test.mantra-dachau.com/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.svg#WooCommerce) format("svg");
  font-weight: normal;
  font-style: normal; }